<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/styles.css">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>BrightEdge Login</title>
</head>

<body>
    <div class="mainlogin">
        <div class="brandlogin">
            <div class="brandbox">
                <h2>Welcome to <span> BrightEdge </span> </h2>
                <p> Where we <span class="typed-text"></span><span class="cursor">&nbsp</span> </p>
            </div>
            <div class="loginoption">
                <div class="loption"> <a href="/studentlogin"> Student Login </a> </div>
                <div class="loption"> <a href="/facultylogin"> Faculty Login </a> </div>
                <div class="loption"> <a href="/managementlogin"> Management Login </a> </div>
            </div>
        </div>
    </div>

    <script src="javascript/main.js"></script>
</body>

</html>