<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Index</title>
</head>
<body>
    <div class="snavbar">
        <h2>BrightEdge</h2>
    </div>
    <div class="container">
        <h1 class="mainheading"> Index </h1>
        <% contents.forEach(function(content){ %>
            <div class="content">
                <a href="/page/<%= content._id %> ">
                    <h2 class="heading">
                        <%- content.title %>
                    </h2>
                    <!-- <p> <%- content.body %>  </p> -->
                </a>
            </div>
            <% }) %>

                <script src="/javascript/main.js"></script>
    </div>
</body>
</html>